.auth-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 83px);

    .left-auth {
        background-size: cover;
    }

    .right-auth {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $offwhite;

        .auth-form-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px;
            @include input-element();

            .form-group {
                display: flex;

                svg {
                    font-size: 2em;
                    color: $teal;
                    margin-right: 12px;
                }
            }

          
        }
    }
}
