.blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 820px;

    a {
        text-decoration: none;
        color: $teal;
        transition: 0.5s ease-in-out;

        &:hover {
            color: $dark-teal;
            transition: 0.5s ease-in-out;
        }
    }

    h1 {
        font-size: 1.6em;
    }



    .featured-img-wrapper {
      img {
        margin: 20px 0px;
        width: 100%;
        border-radius: 7px;
        height: 320px;
        object-fit: cover;
      }
    }

    .blog-title {
        font-weight: bold;
    }
  }
}
