.blog-form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 40px;
  
    @include input-element();
    input {
      margin-bottom: 0px;
    }

    .blog-form-button {
        @include base-btn();
    }

    .image-uploaders {
      display: grid;
      grid-template-columns: 180px;
      justify-content: center;
    }

}