.one-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}