.portfolio-manager-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: calc(100vh - 83px);


  .left-side {
    background-color: $offwhite;
  }

  .right-side {
    background-color: $charcoal;
  }
}
